html,
body,
.App,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    height: 400px;
  }
}
.main .map-container {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .main .map-container {
    height: 400px;
  }
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 20000;
}
@media screen and (max-width: 768px) {
  header {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
  }
}
header h1 {
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  background-color: #000;
  margin: 0;
  padding-left: 15px;
  border-bottom-right-radius: 50px;
  width: 450px;
  color: white;
}
@media screen and (max-width: 768px) {
  header h1 {
    width: 100%;
    border-radius: 0;
    text-align: center;
    padding-left: 0;
  }
}
header h1 span {
  font-family: "Kristi", cursive;
  font-size: 32px;
}

.side-container {
  position: fixed;
  padding-top: 50px;
  top: 0;
  bottom: 0;
  left: 10px;
  overflow-y: scroll;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  .side-container {
    position: relative;
    overflow-y: visible;
    top: auto;
    left: auto;
    bottom: auto;
    padding-top: 0;
  }
}

.side-container.list-view {
  width: 320px;
}
@media screen and (max-width: 768px) {
  .side-container.list-view {
    width: 100%;
  }
}

.side-container.details {
  width: 400px;
}
@media screen and (max-width: 768px) {
  .side-container.details {
    width: 100%;
  }
}

.filter-container {
  background-color: rgba(100, 0, 0, 0.8);
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}
.filter-container span {
  margin-bottom: 5px;
  color: #eee;
}
.filter-container select {
  height: 36px;
  line-height: 36px;
  padding-left: 5px;
  font-size: 16px;
  text-transform: capitalize;
  border: none;
  border-radius: 5px;
  background-color: #eeeeee;
}

ul {
  margin: 0;
  padding: 0;
}
ul .list-item-container {
  background-color: #fff;
  border-radius: 10px;
  margin: 10px;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
ul .list-item-container h2 {
  margin: 90px 0 0 0;
  padding: 15px 15px 5px 15px;
  color: white;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font: 14px;
  font-weight: normal;
}
ul .list-item-container img {
  width: 48px;
  height: 48px;
  margin: 10px;
  float: right;
  box-shadow: 0 2px 5px 0 black;
  border-radius: 50%;
}
ul .list-item-container button {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  color: #eec;
  font-size: 16px;
  float: right;
  height: 140px;
  width: 288px;
  margin-top: -140px;
  position: absolute;
  transition: 0.5s;
}
@media screen and (max-width: 768px) {
  ul .list-item-container button {
    width: 100%;
    position: relative;
  }
}
ul .list-item-container button span {
  color: transparent;
  font-weight: bold;
  transition: 0.5s;
}
ul .list-item-container button:hover {
  background-color: rgba(100, 0, 0, 0.8);
}
ul .list-item-container button:hover span {
  color: white;
}

.details-container .details-header {
  display: flex;
  height: 48px;
  background-color: #640000;
}
.details-container .details-header button {
  width: 48px;
  background-color: #500000;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px;
}
.details-container .details-header button span {
  display: none;
}
.details-container .details-header button:hover {
  background-color: #785000;
}
.details-container .details-header h2 {
  line-height: 48px;
  color: white;
  margin: 0;
  padding-left: 15px;
}
.details-container .place-details {
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 15px;
  font-size: 14px;
}
.details-container .place-details .image-container {
  height: 240px;
  margin: 0;
  margin-bottom: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.details-container .place-details p {
  color: white;
  margin: 0 15px;
}
.details-container .place-details p a {
  color: #ccc;
  text-decoration: none;
}
.details-container .loading-container {
  height: 100px;
  background-position: center;
  background-size: 30px;
  background-color: #222;
  background-repeat: no-repeat;
  margin: 10px;
  border-radius: 5px;
}

.reviews-container .rating-container {
  margin: 10px;
  padding: 10px 15px;
  background-color: #222;
  border-radius: 5px;
}
.reviews-container .rating-container h2 {
  color: #999;
  font-size: 12px;
  font-weight: normal;
  margin: 5px 0 10px 0;
  border-bottom: 1px solid #555;
}
.reviews-container .rating-container .star-rating {
  height: 32px;
  width: 160px;
  background-size: cover;
}
.reviews-container .rating-container h3 {
  float: right;
  line-height: 24px;
  font-size: 24px;
  margin: 0;
  margin-top: -30px;
}
.reviews-container .rating-container p {
  margin: 0;
  color: #eee;
  font-weight: bold;
}
.reviews-container .rating-container p small {
  color: #ccc;
  font-weight: normal;
}
.reviews-container .rating-container p a {
  text-decoration: none;
  text-align: right;
  color: #ccc;
  display: block;
  font-weight: normal;
}

.attribution-container {
  position: fixed;
  z-index: 50000;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 12px;
}
@media screen and (max-width: 768px) {
  .attribution-container {
    position: static;
    bottom: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
}
.attribution-container p {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ccc;
  padding: 5px 10px;
  height: 32px;
  line-height: 32px;
  display: inline;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .attribution-container p {
    background-color: transparent;
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
  }
}
.attribution-container p a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/*# sourceMappingURL=App.css.map */
